:php
	$mainAssets = $this->mainAssets;
	$this->renderPartial('//layouts/parts/_head')
body
	:php
		$this->renderPartial('//layouts/parts/_header');
	
	div.die-container
		div.limiter
			article.contentner
				=$content
	:php
		$this->renderPartial('//layouts/parts/_footer')
	div.notifications.bottom-left#notifications
</html>