$gish: #282a2d;
$moonLight: #fafafa;

$colors:(
	base:(
		body:(
			bg: $moonLight,
		)
	),
	layout:(
		header:(
			
		),
		logo:(
			
		),
		footer:(
			bg: $gish,
		),
		copyright:(
			t: $moonLight,
		),
		developer:(
			
		),
	),
);