$dimentions:(
	base:(
		limiter:(
			mnw: 25rem,
			#satellite:(
				mxw: 44.8rem,
			),
			#planet:(
				mxw: 76rem,
			),
			#star:(
				mxw: 99rem,
			),
			#galaxy:(
				mxw: 128rem,
			)
		)
	),
);