:php
	$mainAssets=$this->mainAssets;
	$this->title = [Yii::t('default', 'Error') . ' ' . $error['code'], Yii::app()->getModule('yupe')->siteName];
	if(YII_DEBUG){
		Yii::app()->getClientScript()->registerCssFile($mainAssets . '/css/error.css');
	}else{
		Yii::app()->getClientScript()->registerCssFile($mainAssets . '/css/error.min.css');
	}
.site-error 
	.site-error__code!=$error['code']

	:php
		$homepage = CHtml::link(
				'главная',
				"/",
				[
					'title' => 'на главную страницу',
					'alt'   => 'на главную страницу',
					'class' => 'site-error__link'
				]
			);
		$back = CHtml::link(
				'обратно',
				Yii::app()->request->urlReferrer,
				[
					'title' => 'вернутся обратно',
					'alt'   => 'вернутся обратно',
					'class' => 'site-error__link'
				]
			);

		switch ($error['code']) {
			case '500':
				$msg = 'На сервере что-то пошло не так.';
				$descr = 'Мы можем дать вам толковый совет, перейти на главную страницу, если она еще не сломалась, либо вернутся назад.';
				break;
			case '404':
			default:
				$msg = 'Такой страницы на сайте нету.';
				$descr = 'Мы можем дать вам толковый совет, перейти на главную страницу, либо вернутся назад.';
				break;
		}
	.site-error__title!=$msg
	.site-error__description!=$descr
	.site-error__links
		!=$homepage
		!=$back
