:php
	$mainAssets = $this->mainAssets;
	if(YII_DEBUG){
		Yii::app()->getClientScript()->registerScriptFile($mainAssets . '/js/layout/header.js');
	}else{
		Yii::app()->getClientScript()->registerScriptFile($mainAssets . '/js/layout/header.min.js');
	}
header#header
	div.limiter
		div.logo
			:php
				echo CHtml::link(
					$this->getSvg($mainAssets),
					Yii::app()->homeUrl
				);

