doctype html
<html lang="<?php echo Yii::app()->language; ?>">
head
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	:php
		Yii::app()->controller->widget(
			'vendor.chemezov.yii-seo.widgets.SeoHead',
			[
				'httpEquivs'         => [
					'Content-Type'     => 'text/html; charset=utf-8',
					'X-UA-Compatible'  => 'IE=edge,chrome=1',
					'Content-Language' => 'ru-RU'
				],
				'defaultTitle'       => Yii::app()->getModule('yupe')->siteName,
				'defaultDescription' => Yii::app()->getModule('yupe')->siteDescription,
				'defaultKeywords'    => Yii::app()->getModule('yupe')->siteKeyWords,
			]
		);

		$mainAssets = $this->mainAssets;
		
		if(YII_DEBUG){
			Yii::app()->getClientScript()->registerCssFile($mainAssets . '/css/base.css');
			Yii::app()->getClientScript()->registerCssFile($mainAssets . '/css/shame.css');
			Yii::app()->getClientScript()->registerCssFile($mainAssets . '/bower/font-awesome/css/font-awesome.css');
			Yii::app()->getClientScript()->registerScriptFile($mainAssets . '/bower/retina.js/dist/retina.js');
		}else{
			Yii::app()->getClientScript()->registerCssFile($mainAssets . '/css/base.min.css');
			Yii::app()->getClientScript()->registerCssFile($mainAssets . '/css/shame.min.css');
			Yii::app()->getClientScript()->registerCssFile($mainAssets . '/bower/font-awesome/css/font-awesome.min.css');
			Yii::app()->getClientScript()->registerScriptFile($mainAssets . '/bower/retina.js/dist/retina.min.js');
		}
	script(type='text/javascript').
		var yupeTokenName = '<?php echo Yii::app()->getRequest()->csrfTokenName;?>';
		var yupeToken = '<?php echo Yii::app()->getRequest()->csrfToken;?>';
	:php
		// Favicon
		$wrongPathes = file_get_contents('.'.$mainAssets.'/favicon/favicon.html');
		$goodPathes = str_replace('{path}',$mainAssets.'/favicon',$wrongPathes);
		echo $goodPathes;
		//Yii::app()->getClientScript()->registerLinkTag('shortcut icon', null, $mainAssets . '/images/favicon.ico');