$base-font-size: 10px;
$base-line-height: 1.613;

@include font-face("FONT", $fonts+"/FONT", normal);


html{
	font-size: 12px;
	line-height: $base-line-height;
	font-family: $f-Rob;
	@include backface-visibility(hidden);
}

body{
	font-size: 1.4rem;
	line-height: $base-line-height;
}